@import "tailwindcss";

body {
  font-family: 'Londrina Solid', system-ui;
}

/* body {
  font-family: 'Londrina Sketch', system-ui;
} */

/* body {
    font-family: 'PT Serif', serif;
  } */

/* body {
    font-family: 'Roboto Variable', sans-serif;
    } */

    .background-gradient {
      background: radial-gradient(
        circle at top center,
        #433A3F 0%,
        rgba(67, 58, 63, 0.7) 30%,
        rgba(230, 230, 230, 0.9) 70%,
        #E6E6E6 100%
      );
    }