@import "tailwindcss";

body {
  font-family: 'Londrina Solid', system-ui;
}

/* body {
  font-family: 'Londrina Sketch', system-ui;
} */

/* body {
    font-family: 'PT Serif', serif;
  } */

/* body {
    font-family: 'Roboto Variable', sans-serif;
    } */

  .background-gradient{
    background: radial-gradient(
      circle at top center,
      hsla(222,80%,60%,.05) 0%,
      hsla(222,80%,60%,.05) 0%,
      hsla(222,80%,60%,.05) 0%,
    )
  }