@import "tailwindcss";

/* body {
  font-family: 'Londrina Solid', system-ui;
} */

body {
  font-family: 'Londrina Sketch', system-ui;
}

/* could be used for footer/header
body {
    font-family: 'PT Serif', serif;
  } */

/* chopping block
body {
    font-family: 'Roboto Variable', sans-serif;
    } */

    
    /* .background-gradient {
      background: radial-gradient(
        circle at right top,
        #433A3F 0%,
        rgba(67, 58, 63, 0.7) 20%,
        rgba(230, 230, 230, 0.9) 70%,
        #E6E6E6 100%
      );
    } */
     
    .background-gradient {
      background: radial-gradient(
        circle at center top,
        #E6E6E6 0%,
        rgba(230, 230, 230, 0.9) 50%,
        rgba(67, 58, 63, 0.7) 90%,
        #433A3F 100%
      );
    }
    